<section class="mainbar" data-ng-controller="clientdetail as vm">
    <section class="matter">
        <div class="container-fuild">
            <div>
                <button class="btn btn-info"
                        data-ng-click="vm.goBack()">
                    <i class="glyphicon glyphicon-hand-left"></i>Back
                </button>
                <button class="btn btn-info"
                        data-ng-click="vm.cancel()"
                        data-ng-disabled="!vm.canSave">
                    <i class="glyphicon glyphicon-remove"></i>Cancel
                </button>
                <button class="btn btn-info"
                        data-ng-click="vm.save()"
                        data-ng-disabled="!vm.canSave">
                    <i class="glyphicon glyphicon-save"></i>Save
                </button>
                <button class="btn btn-danger"
                        data-ng-click="vm.deleteClient()">
                    <i class="glyphicon glyphicon-trash"></i>Delete
                </button>
                <span data-ng-show="vm.hasChanges"
                      class="dissolve-animation ng-hide">
                    <i class="glyphicon glyphicon-asterisk"></i>
                </span>
            </div>
            <div class="widget wgreen">
                <div data-cc-widget-header
                     title="Edit {{vm.client.name || 'New Client'}} "></div>
                <div ng-form="clientdetial" class=" widget-content user-details">
                    <div>
                        <label>Client ID</label>
                        <input data-ng-model="vm.client.id" class="form-control"
                               data-z-validate ng-disabled="true"
                               placeholder="Client ID" />
                    </div>
                    <div class="control-group" ng-class="{ 'has-error': clientdetial.code.$invalid }">
                        <label class="control-label" for="code">Code</label>
                        <input data-ng-model="vm.client.code" class="form-control" name="code"
                               placeholder="Code"
                               required ng-minlength="3" ng-maxlength="6" unique="vm.checkCode(code)" />
                        <ng-messages for="clientdetial.code.$error" ng-show="clientdetial.code.$dirty">
                            <ng-message class="help-block" when="checking">checking code...</ng-message>
                            <ng-message class="help-block" when="unique">title must be unique</ng-message>
                        </ng-messages>
                        <ng-messages for="clientdetial.code.$error" ng-show="clientdetial.code.$touched">
                            <ng-message class="help-block" when="required">required</ng-message>
                            <ng-message class="help-block" when="minlength,maxlength">min 3 Char</ng-message>
                            <ng-message class="help-block" when="unique">title must be unique</ng-message>
                        </ng-messages>
                    </div>
                    <div>
                        <label>Name</label>
                        <input data-ng-model="vm.client.name" class="form-control"
                               placeholder="Name"
                               required ng-maxlength="50" />
                        <ng-messages for="clientdetial.name.$error" ng-show="clientdetial.name.$touched">
                            <ng-message class="help-block" when="required">required</ng-message>
                            <ng-message class="help-block" when="maxlength">min 3 Char</ng-message>
                        </ng-messages>
                    </div>
                    <div>
                        <label>ABN</label>
                        <input data-ng-model="vm.client.abn" name="abn" placeholder="ABN"
                               required ng-minlength="8" ng-maxlength="8" />
                        <ng-messages for="clientdetial.abn.$error" ng-show="clientdetial.abn.$touched">
                            <ng-message class="help-block" when="required">required</ng-message>
                            <ng-message class="help-block" when="minlength,maxlength">8 Char</ng-message>
                        </ng-messages>
                    </div>
                </div>
            </div>


            <div class="widget wblue">
                
                <div data-cc-widget-header title="Address"
                     subtitle="{{vm.addresses.length}}"
                     right-text=""
                     allow-collapse="true">
                </div>
                <div ng-form="address" class="widget-content text-center text-info collapse">
                    <div class="btn-group pull-right">
                        <a class="btn btn-info"
                           data-ng-click="vm.addAddress()">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>{{vm.newAddress == false ? "New Address" : "Add Address" }}</span>
                        </a>

                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <td><label class="control-label" for="id">ID</label></td>
                                <td><label class="control-label" for="addressLine1">Line 1</label></td>
                                <td><label class="control-label" for="addressLine2">Line 2</label></td>
                                <td><label class="control-label" for="suburb">Suburb</label></td>
                                <td><label class="control-label" for="state">State</label></td>
                                <td><label class="control-label" for="postCode">PostCode</label></td>
                                <td><label class="control-label" for="addressType">Type</label></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="item in vm.addresses | orderBy:['id']"
                                data-ng-click="vm.gotoAddress(item,$index)"
                                ng-class="{'info': item.id === vm.address.id}">
                                <td>
                                    <input data-ng-model="item.id" name="id" class="form-control" data-z-validate placeholder="ID" ng-disabled="true"
                                           ng-maxlength="30" />
                                </td>
                                <td>
                                    <input data-ng-model="item.addressLine1" name="addressLine1" class="form-control" data-z-validate placeholder="addressLine1" />
                                    <ng-messages for="address.addressLine1.$error" ng-show="address.addressLine1.$touched">
                                        <ng-message class="help-block" when="maxlength">length should less be 30</ng-message>
                                    </ng-messages>
                                </td>
                                <td>
                                    <input data-ng-model="item.addressLine2" name="addressLine1" class="form-control" data-z-validate placeholder="addressLine2" />
                                    <ng-messages for="address.addressLine2.$error" ng-show="address.addressLine2.$touched">
                                        <ng-message class="help-block" when="maxlength">length should less be 30</ng-message>
                                    </ng-messages>
                                </td>
                                <td>
                                    <input data-ng-model="item.suburb" name="suburb" class="form-control" placeholder="suburb"
                                           required ng-maxlength="20" />
                                    <ng-messages for="address.suburb.$error" ng-show="address.suburb.$touched">
                                        <ng-message class="help-block" when="required">required</ng-message>
                                        <ng-message class="help-block" when="maxlength">length should less be 20</ng-message>
                                    </ng-messages>
                                </td>
                                <td>
                                    <!-- <input data-ng-model="item.state" name="state" class="form-control" placeholder="state"
                            required ng-maxlength="3" />-->
                                    <select data-ng-options="o as o for o in vm.states"
                                            data-ng-model="item.state"
                                            ng-change="vm.selectedStateChanged()">
                                        <option value=" ">-- State --</option>
                                    </select>
                                    <ng-messages for="address.state.$error" ng-show="address.state.$touched">
                                        <ng-message class="help-block" when="required">required</ng-message>
                                        <ng-message class="help-block" when="maxlength">length should be 3</ng-message>
                                    </ng-messages>
                                </td>
                                <td>
                                    <input data-ng-model="item.postCode" class="form-control" data-z-validate placeholder="postCode"
                                           required ng-minlength="4" ng-maxlength="4" />
                                    <ng-messages for="address.state.$error" ng-show="address.stste.$touched">
                                        <ng-message class="help-block" when="required">required</ng-message>
                                        <ng-message class="help-block" when="minlength,maxlength">length should be 4</ng-message>
                                    </ng-messages>
                                </td>
                                <td>
                                    <!--   <input data-ng-model="item.addressType" class="form-control" data-z-validate placeholder="addressType" />-->
                                    <select data-ng-options="at.id as at.type for at in vm.addressTypes"
                                            data-ng-model="item.addressType"
                                            ng-change="vm.selectedAddressTypeChanged()">
                                        <option value=" ">-- Type --</option>
                                    </select>
                                </td>
                                <td>
                                    <button class="btn btn-danger"
                                            data-ng-click="vm.removeAddress($index)">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </td>


                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="widget-foot">
                    <div class="clearfix"></div>
                </div>



                </div>
            </div>

            <div class="widget worange">
                <div data-cc-widget-header title="contact"
                     subtitle="{{vm.contacts.length}}"
                     right-text=""
                     allow-collapse="true">
                </div>
                <div ng-form="contact" class="widget-content text-center text-info collapse">
                    <div class="btn-group pull-right">
                        <a class="btn btn-info"
                           data-ng-click="vm.addContact()">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>{{vm.newContact == false ? "New Contact" : "Add Contact" }}</span>
                        </a>

                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <td><label class="control-label" for="id">id</label></td>
                                <td><label class="control-label" for="name">Name</label></td>
                                <td><label class="control-label" for="position">Position</label></td>
                                <td><label class="control-label" for="homePhone">Home Phone</label></td>
                                <td><label class="control-label" for="workPhone">Work Phone</label></td>
                                <td><label class="control-label" for="mobile">Mobile</label></td>
                                <td><label class="control-label" for="contactType">Contact Type</label></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="item in vm.contacts | orderBy:['id']"
                                data-ng-click="vm.gotoContact(item,$index)"
                                ng-class="{'info': item.id === vm.contact.id}">
                                <td>
                                    <input data-ng-model="item.id" class="form-control" data-z-validate placeholder="ID" ng-disabled="true" />
                                </td>
                                <td>
                                    <input data-ng-model="item.name" name="name" class="form-control" data-z-validate placeholder="name"
                                           required ng-maxlength="20" />
                                    <ng-messages for="contact.name.$error" ng-show="contact.name.$touched">
                                        <ng-message class="help-block" when="required">required</ng-message>
                                        <ng-message class="help-block" when="maxlength">length should be less than 20</ng-message>
                                    </ng-messages>
                                </td>
                                <td>
                                    <input data-ng-model="item.position" name="position" class="form-control" data-z-validate placeholder="position" />
                                    <ng-messages for="contact.position.$error" ng-show="contact.position.$touched">
                                        <ng-message class="help-block" when="required">required</ng-message>
                                        <ng-message class="help-block" when="maxlength">length should be less than 20</ng-message>
                                    </ng-messages>
                                </td>
                                <td>
                                    <input data-ng-model="item.homePhone" name="homePhone" class="form-control" data-z-validate placeholder="Home Phone"
                                           ng-maxlength="10" />
                                    <ng-messages for="contact.position.$error" ng-show="contact.position.$touched">
                                        <ng-message class="help-block" when="maxlength">length should be less than 10</ng-message>
                                    </ng-messages>
                                </td>
                                <td>
                                    <input data-ng-model="item.workPhone" name="workPhone" class="form-control" data-z-validate placeholder="Work Phone"
                                           ng-maxlength="10" />
                                    <ng-messages for="contact.position.$error" ng-show="contact.position.$touched">
                                        <ng-message class="help-block" when="maxlength">length should be less than 10</ng-message>
                                    </ng-messages>
                                </td>
                                <td>
                                    <input data-ng-model="item.mobile" name="mobile" class="form-control" data-z-validate placeholder="Mobile"
                                           ng-maxlength="10" />
                                    <ng-messages for="contact.mobile.$error" ng-show="contact.mobile.$touched">
                                        <ng-message class="help-block" when="maxlength">length should be less than 10</ng-message>
                                    </ng-messages>
                                </td>
                                <td>
                                    <input data-ng-model="item.contactType" class="form-control" data-z-validate placeholder="Contact Type" />
                                </td>
                                <td>
                                    <button class="btn btn-danger"
                                            data-ng-click="vm.removeContact($index)">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </td>


                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="widget-foot">
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        </div>
    </section>
</section>