<section class="mainbar" data-ng-controller="clientdetail as vm">
    <section class="matter">
        <div class="container-fuild">
            <div>
                <button class="btn btn-info"
                        data-ng-click="vm.goBack()">
                    <i class="glyphicon glyphicon-hand-left"></i>Back
                </button>
                <button class="btn btn-info"
                        data-ng-click="vm.cancel()"
                        data-ng-disabled="!vm.canSave">
                    <i class="glyphicon glyphicon-remove"></i>Cancel
                </button>
                <button class="btn btn-info"
                        data-ng-click="vm.save()"
                        data-ng-disabled="!vm.canSave">
                    <i class="glyphicon glyphicon-save"></i>Save
                </button>
                <button class="btn btn-danger"
                        data-ng-click="vm.deleteClient()">
                    <i class="glyphicon glyphicon-trash"></i>Delete
                </button>
                <span data-ng-show="vm.hasChanges"
                      class="dissolve-animation ng-hide">
                    <i class="glyphicon glyphicon-asterisk"></i>
                </span>
            </div>
            <div class="widget wgreen">
                <div data-cc-widget-header
                     title="Edit {{vm.client.name || 'New Client'}} "></div>
                <div class="widget-content user-details">
                    <div>
                        <label>Client ID</label>
                        <input data-ng-model="vm.client.id" class="form-control"
                               data-z-validate ng-disabled="true"
                               placeholder="Client ID" />
                    </div>
                    <div>
                        <label>Code</label>
                        <input data-ng-model="vm.client.code" class="form-control"
                               data-z-validate
                               placeholder="Code" />
                    </div>
                    <div>
                        <label>Name</label>
                        <input data-ng-model="vm.client.name" class="form-control"
                               data-z-validate
                               placeholder="Name" />
                    </div>
                    <div>
                        <label>ABN</label>
                        <input data-ng-model="vm.client.abn" />
                    </div>
                </div>
            </div>


            <div class="widget wblue">
                
                <div data-cc-widget-header title="Address"
                     subtitle="{{vm.addresses.length}}"
                     right-text=""
                     allow-collapse="true">
                </div>
                <div class="widget-content text-center text-info collapse">
                    <div class="btn-group pull-right">
                        <a class="btn btn-info"
                           data-ng-click="vm.addAddress()">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>{{vm.newAddress == false ? "New Address" : "Add Address" }}</span>
                        </a>

                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Line 1</td>
                                <td>Line 2</td>
                                <td>Suburb</td>
                                <td>State</td>
                                <td>PostCode</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="item in vm.addresses | orderBy:['id']"
                                data-ng-click="vm.gotoAddress(item,$index)"
                                ng-class="{'info': item.id === vm.address.id}">
                                <td>
                                    <input data-ng-model="item.id" class="form-control" data-z-validate placeholder="ID" ng-disabled="true" />
                                </td>
                                <td>
                                    <input data-ng-model="item.addressLine1" class="form-control" data-z-validate placeholder="addressLine1" />
                                </td>
                                <td>
                                    <input data-ng-model="item.addressLine2" class="form-control" data-z-validate placeholder="addressLine2" />
                                </td>
                                <td>
                                    <input data-ng-model="item.suburb" class="form-control" data-z-validate placeholder="suburb" />
                                </td>
                                <td>
                                    <input data-ng-model="item.state" class="form-control" data-z-validate placeholder="state" />
                                </td>
                                <td>
                                    <input data-ng-model="item.postCode" class="form-control" data-z-validate placeholder="postCode" />
                                </td>
                                <td>
                                    <input data-ng-model="item.addressType" class="form-control" data-z-validate placeholder="addressType" />
                                </td>
                                <td>
                                    <button class="btn btn-danger"
                                            data-ng-click="vm.removeAddress($index)">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </td>


                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="widget-foot">
                    <div class="clearfix"></div>
                </div>



                </div>
            </div>

            <div class="widget worange">
                <div class="btn-group pull-right">
                    <a class="btn btn-info"
                       data-ng-click="vm.addContact()">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>{{vm.newContact == false ? "New Contact" : "Add Contact" }}</span>
                    </a>

                </div>
                <div data-cc-widget-header title="contact"
                     subtitle="{{vm.contacts.length}}"
                     right-text=""
                     allow-collapse="true">
                </div>
                <div class="widget-content text-center text-info collapse">
                    <div class="btn-group pull-right">
                        <a class="btn btn-info"
                           data-ng-click="vm.addContact()">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>{{vm.newContact == false ? "New Contact" : "Add Contact" }}</span>
                        </a>

                    </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>Name</td>
                                <td>Position</td>
                                <td>Home Phone</td>
                                <td>Work Phone</td>
                                <td>Mobile</td>
                                <td>Contact Type</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="item in vm.contacts | orderBy:['id']"
                                data-ng-click="vm.gotoContact(item,$index)"
                                ng-class="{'info': item.id === vm.contact.id}">
                                <td>
                                    <input data-ng-model="item.id" class="form-control" data-z-validate placeholder="ID" ng-disabled="true" />
                                </td>
                                <td>
                                    <input data-ng-model="item.name" class="form-control" data-z-validate placeholder="name" />
                                </td>
                                <td>
                                    <input data-ng-model="item.position" class="form-control" data-z-validate placeholder="position" />
                                </td>
                                <td>
                                    <input data-ng-model="item.homePhone" class="form-control" data-z-validate placeholder="Home Phone" />
                                </td>
                                <td>
                                    <input data-ng-model="item.workPhone" class="form-control" data-z-validate placeholder="Work Phone" />
                                </td>
                                <td>
                                    <input data-ng-model="item.mobile" class="form-control" data-z-validate placeholder="Mobile" />
                                </td>
                                <td>
                                    <input data-ng-model="item.contactType" class="form-control" data-z-validate placeholder="Contact Type" />
                                </td>
                                <td>
                                    <button class="btn btn-danger"
                                            data-ng-click="vm.removeContact($index)">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </td>


                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="widget-foot">
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        </div>
    </section>
</section>